################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Sipolen.ExcelTools/bin/Debug
/.vs/SipolenProject/v14
/Sipolen.ExcelTools/.vs/SipolenProject/v14
/Sipolen.ExcelTools/obj/Debug
/Sipolen.Code/bin/Debug
/Sipolen.Code/obj/Debug
/HttpHelper/bin/Debug
/HttpHelper/obj/Debug
/HttpHelper/packages.config
/HttpHelper/HttpHelper.csproj.user
/Lib
