################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Sipolen.ExcelTools/bin/Debug
/.vs/SipolenProject/v14
/Sipolen.ExcelTools/.vs/SipolenProject/v14
/Sipolen.ExcelTools/obj/Debug
